@media (max-width: 390px) {
    .container-real {
        display: block;
    }

    .calendar {
        width: 300px;
    }

    .container {
        width: 250px;

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Myeongjo", serif;

}


body {
    background-color: #B3A398;
    padding: 20px;
    display: flex;
    justify-content: block
    ;
}

.calendar {
    position:relative;
    width: 600px;
    margin: 50px;
    background-color: rgba(238, 237, 235, 0.5); /* #EEEDEB의 RGB 값과 알파 값 조절 */
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    min-height: 80vh;
    min-width: 80vh;
    border-radius: 10px;
}

.container{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 50px;
    justify-content: column;
    background-color: rgba(238, 237, 235, 0.5); /* #EEEDEB의 RGB 값과 알파 값 조절 */
    height: 600px;
    width: 500px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;

}

.title {
    margin-top: 15px;
    text-align: left;
}

.input-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

#task-input {
    width: 350px;
    height: 30px;
}

.task-area{
    border: 1px solid lightgrey;
}
.task-tabs {
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
}
.task-tabs div {
    padding:1em;
}

.task-board {
    padding-block: 1em;
}

#underline {
    height: 4px;
    background-color: #0D9276;
    position: absolute;
    width: 60px;
    left: 0px;
    top: 52px;
    padding: 0px;
    transition: 0.5s;
}
.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.task-done {
    text-decoration: line-through;
    background-color: #C9D7DD;
    flex-grow: 1;
}
.check{
    background: none;
    border: none;
    font-size: 20px;
    color: #3C3633;
}
.delete{
    background: none;
    border: none;
    font-size: 20px;
    color: #3C3633;
}
.check1{
    background: none;
    border: none;
    font-size: 20px;
    color: #3C3633; 
}
.delete1{
    background: none;
    border: none;
    font-size: 20px;
    color: #3C3633;
}
#add-button {
    background-color: #8EC3B0;
    font-family: "Nanum Myeongjo", serif;
    font-weight: bold;
    border: grey;
    height: 30px;
    width: 40px;
    border-radius: 25%;

}
.task-tabs div{
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 35px;
    font-weight: bold;
}

.nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 25px 0 10px;
    justify-content: space-evenly;


}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396ee2;
}
.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: #FFFFFF;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #FF0000;
    border-radius: 50%;
    content: '';
}